hr {
    margin: 0;
}

.rodapé {
    background-color: var(--branco);
    padding: 1.07em 0 1.5em 1.5em;
}

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    }

    .rodapé__título {
        font-size: 24px;
    }

    .lista-rodapé {
        display: block;
    }

    .lista-rodapé__título {
        font-size: 24px;
    }

    .lista-rodapé__título {
        font-size: 14px;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodapé__link:hover {
        color: var(--laranja);
    }

}

@media screen and (min-width: 1728px) {
    .rodapé {
        padding: 3em 5em;
    }
    
    .lista-rodapé__título {
        padding-bottom: 1.5em;
    }
        
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}
